.container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: white;
  border-radius: 3rem;
  padding: 1rem;
  width: 70%;
}

input[type="range"] {
  width: 50rem;
}

.input {
  margin: 1rem;
}

.label {
  margin-bottom: 1rem;
}

.errormsg {
  margin: 2rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.342);
  font-size: xx-large;
}
