.navbar {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  width: 30%;
}

.nav-link {
  font-family: "Courier New", Courier, monospace;
  font-size: 110%;
  transition: transform 0.3s;
  color: black;
}

.nav-link:hover {
  transform: scale(1.1);
}
