#modules
**/node_modules/

#images
**/*.ico
**/*.png

# idea files
.idea/

# scans
.scannerwork/

# .DS_Store macos files
**/.DS_Store

# server coverage
server/coverage/*

# snapshots
client/test/__snapshots__