/* .first {
    background-color: #47c0e9;
    width: 20vw;
    height: 20vw;
    padding: 50px;
    -webkit-box-shadow: 0px 0px 30px -7px #000000;
    -moz-box-shadow: 0px 0px 30px -7px #000000;
    -o-box-shadow: 0px 0px 30px -7px #000000;
    box-shadow: 0px 0px 30px -7px #000000;
    z-index: 1;
    border-radius: 2px;
    transition: transform .3s;
  }
  
  .second {
    background-color: #159FCB;
    width: 20vw;
    height: 15vw;
    padding: 50px;
    border-radius: 2px;
    transition: transform .3s;
  }
  
  .third {
    background-color: #159FCB;
    width: 20vw;
    height: 10vw;
    padding: 50px;
    border-radius: 2px;
    transition: transform .3s;
  }

  .firstClassified {
    
    width: 20vw;
  }

  .secondClassified {
    
    width: 20vw;
  }

  .thirdClassified {
    
    width: 20vw;
  } */

.podium-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100% !important;
}

.honor-mention {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.honor-title {
  text-align: center;
  color: white;
  font-size: xx-large;
  height: 100%;
  font-family: Apple-System, Arial, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, STXihei, sans-serif;
}
