.mapcontainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  position: sticky;
}

.widthRange {
  width: 100%;
}

.dates {
  font-size: medium;
  display: flex;
  margin-left: 1rem;
}
