.pulser {
    animation: pulse 2s infinite;
    color: white;
  }

  @keyframes pulse {
    0% {
      color: white;
    }
    50% {
      color: rgb(117, 117, 117);
    }
    100% {
        color: white;
      }
  }