#tweet {
  color: black;
  text-align: center;
}

.styletweet {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  background-color: whitesmoke;
  font-size: xx-large;
  margin: 1%;
  font-family: "Open Sans", sans-serif;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  width: 100%;
}

.styletweet:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
