.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.07);
}

#cardinput {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1);
}

.name {
  font-size: large;
}

.userimg {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-details {
  display: flex;
  height: 40%;
  align-items: center;
}
.user-details > img {
  height: 70%;
  border-radius: 100%;
}

.user-name {
  width: 50%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-name > .username {
  color: rgba(0, 0, 0, 0.74);
}

.tweet-body {
  height: 50%;
}

.tweet-details {
  margin-top: 1rem;
  display: flex;
}

.tweet-details > div {
  margin-left: 2rem;
  margin-right: 1rem;
  display: flex;
}

.tweet-details > div > div {
  margin-right: 2rem;
}

.iconed {
  margin-left: 1rem;
}
